[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=redshift
Comment=Adjust the color temperature of your screen
Exec=pgrep -x "redshift" > /dev/null || redshift
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

