[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=vicinae-server
Comment=Run Vicinae Server
Exec=vicinae server --replace
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

