[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=xdg-desktop-portal
Comment=Start XDG Desktop Portal
Exec=systemctl --user start xdg-desktop-portal.service
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
